[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
jupyter = "*"
seaborn = "*"
pandas = "*"
scipy = "*"
pygal = "*"
statsmodels = "*"
sklearn = "*"
numba = "*"
pytest = "*"
poppy = "*"
Jinja2 = ">=2.10.1"
notebook = ">=5.7.8"

[requires]
python_version = "3.7"
